.articledetails{
    
    background-color: $colour-secondary;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    
    
    h1{
        padding-top:3rem;
        text-align: center;
    }

    .article-img{
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

    .article-info{
        text-align: center;
        padding: 10px;
    }

    
}