//Colours

$colour-headerfooter:#6E737E;
$colour-background:#868D97;
$colour-heading:#000000;
$colour-primary:#3C3C3C;
$colour-navlink:#ffffff;
$colour-secondary:#9CCCDD;

//Typography

$font-h1:'Cormorant Garamond Bold', serif;
$font-h2:'Montserrat', sans-serif;
$font-h3:'Montserrat', sans-serif;
$font-navlink:'Playfair Display' , serif;
$font-p: 'Open Sans', sans-serif;
