.container-category{
    background-color: $colour-secondary;
    
    .column-content{
       margin-left: 5rem;
       margin-top: 5rem;


       .blockquote{
        margin-top: 2rem;
       }

       .blockquote-footer{
            background-color: $colour-secondary;
        }

        .category-description{
            margin-top: 3rem;
            width:600px;

            @media (min-width: 300px) and (max-width: 1080px) {
                height: auto;
                width: auto;
                margin-left: 0;
            }
        }

    }


    .cateogry-image{
        width: 100%;
        height: 100%;
        margin:0;
    }

}




