.container-category{
    background-color: $colour-secondary;
    
    .column-content{
       margin-left: 5rem;
       margin-top: 5rem;

       .blockquote-footer{
            background-color: $colour-secondary;
        }

        .category-description{
            margin-top: 3rem;
            width:600px;
        }

    }


    .cateogry-image{
        width: 100%;
        height: 100%;
        margin:0;
    }

}




