.container-category{
    background-color: $colour-secondary;
    margin-bottom: 4rem;
    
    
    .column-content{
       margin-top: 5rem;
       padding-left:5rem;

        @media (min-width: 576) {
            margin-left: 5rem;
        }

       .blockquote{
        margin-top: 2rem;
       }

       .blockquote-footer{
            background-color: $colour-secondary;
        }

        .category-description{
            margin-top: 3rem;
            width: 500px;

            @media (min-width: 576) {
                width: 300px;
            }

        }

    }

    .column-image{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;

        .cateogry-image{
            width: 100%;
            height: 100%;
        }
    }

}

.container-articles{
    margin-top: 3rem;

    .row{
        margin-top: 3rem;
    }
}



