.form{
    display: flex;
    justify-content: center;
    margin-top:7rem;
    margin-bottom: 7rem;

    @media (max-width: 576px) {
        width: auto;
        margin-top:3rem;
        margin-bottom: 3rem;
        padding: 10px;
    }

    .contactform{
        background-color: $colour-secondary;
        width: 500px;
        padding: 25px;
        display: inline-block;

        .btn-send{
            margin-top: 35px;
            background-color: $colour-primary;
            color: $colour-secondary;
            width: 100%;
            border-radius: 0;
        
            &:hover {
                background-color: $colour-blue;
                color: $colour-secondary;
            }
        }

    }

}

.error {
	color: red;
}






