// custom

$colour-headerfooter:#53585e;
$colour-background:#868d97;
$colour-heading:#000000;
$colour-primary:#3C3C3C;
$colour-secondary:#ffffff;
$colour-blue:#45C5EF;


$colour-input: #3C3C3C;

$medium-width: 768px;



// bootstrap
$theme-colors: (
    "primary": $colour-primary,
    "dark": $colour-headerfooter,
);

$input-bg: $colour-secondary;
$input-border-color: $colour-input;
$border-radius: 3px;

$input-placeholder-color:$colour-primary;
$input-plaintext-color: $colour-primary;


$body-bg:$colour-background;


$card-bg: $colour-secondary;
$card-cap-bg: black;



