.btn-send{
    margin-top: 35px;
    background-color: $colour-primary;
    color: $colour-secondary;
    width: 100%;
    border-radius: 0;

    &:hover {
        background-color: $colour-blue;
        color: $colour-secondary;
    }
}

.form-group {
    margin-top: 2rem;
}

.form-search {
    width: 100%;
    @media (min-width: $medium-width) {
        width: auto;
    }
}

