.contact-container{
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: auto;

    @media (max-width: 576px) {
        width: 350px;
        
    }

    .btn-send{
        margin-top: 35px;
        background-color: $colour-primary;
        color: $colour-secondary;
        width: 100%;
        border-radius: 0;
    
        &:hover {
            background-color: $colour-blue;
            color: $colour-secondary !important;
        }
    }

}




