footer{
    background-color: $colour-headerfooter;
    color: $colour-secondary;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 576px) {
        text-align: center;
    }

}

.socaialLinks a{
    padding: 10px;

    @media (max-width: 576px) {
        padding: 3px;
        padding-top: 5px;
    }
}
footer svg{
    color: $colour-secondary;
}

