.about {
    margin-top: 7rem;
    margin-bottom: 7rem;
    width: 90%;
    background-color: $colour-secondary;

    .row{
        height: 300px;

        @media (max-width: 576px) {
            height: auto;
        }
    }

    .about-image{
        justify-content: center;
        
        #photo{
            position: relative;
            bottom: 90px;
            height: 450px;
            right: 50px;

            @media (max-width: 576px) {
                position: relative;
                bottom: 0;
                height: 300px;
                right: 20px;
                align-items: center;
                margin-top: 10px;
            }

        }

    }

    .about-text{
        padding: 35px;
        

        h3{
            font-size: 32px !important;
            text-align: center;
        }

        p{
            font-size: 18px;
        }

       
    }

    
}

.recentarticles{
    background-color: $colour-secondary;
    padding: 10px; 
    width: auto;

    .RecentArticleCard{
        font-size: 26px;
        color: black;
        margin-left: 40%;
        margin-right: 40%;
    }
}



