.about-Text{
    margin-top: 3rem;
}

.row-Intro{
    margin-top: 5rem;
    background-color: $colour-blue;
    height: 70px;
}

.intro-Image{
    width: 100%;
	
}

.intro-Text{
    width: 150px;
    margin-top: 70px;
}