body {
    background: $colour-background;
}

.navbar{
    background: $colour-headerfooter;
}

.navbar-brand{
    margin-right: 3rem;
}
.nav-link {
    font-family: $font-navlink;
    color: $colour-secondary !important;
    font-size: 22px;
    padding: 1rem;
    margin-right: 30px;
    border-radius: 5px;
    margin-top: 2rem;
    transition: all 0.4s;

   &__navlink:hover{
        text-decoration: underline 3px;
        color:$colour-secondary;
    }
    
}

  
.contact-container{
    padding: 1.5rem 3rem;
    margin-top: 3rem;
    height: 730px;
    width: 550px !important;
    background-color: $colour-secondary;
    
}