body {
    background: $colour-background;
    overflow-x: hidden;
    padding: 0;
    margin:0;
}

.navbar{
    background: $colour-headerfooter;
}

.navbar-toggler-icon{
    color: $colour-secondary;
}



.navbar-brand{
    margin-right: 3rem;
}
.nav-link {
    color: $colour-secondary !important;
    font-family: $font-navlink;
    font-size: 22px;
    padding: 1rem;
    margin-right: 30px;
    border-radius: 5px;
    margin-top: 2rem;
    transition: all 0.4s;

   .navlink:hover{
        text-decoration: underline 3px $colour-blue !important;
    }
    
}


.header-Content{
    background-color: $colour-secondary;
    padding: 20px;
}
