//Typography

$font-h1:'Cormorant Garamond Bold', serif;
$font-h2:'Montserrat Bold', sans-serif;
$font-h3:'Montserrat', sans-serif;
$font-navlink:'Playfair Display' , serif;
$font-p: 'Open Sans', sans-serif;


h1{
    font-family: $font-h1;
    color: $colour-heading;
}

h2{
    text-decoration: underline $colour-blue 3px;
    font-family: $font-h2;
    color: $colour-secondary;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3{
    font-family: $font-h3;
}
.nav-link{
    font-family: $font-navlink;
    color: $colour-secondary;
    font-size: 22px;
}

p{
    font-family: $font-p;
}

q{
    font-family: $font-navlink;
    font-size: 32px;
    text-align: center;
   
}

