.card {
  box-shadow: 9px 9px 9px $colour-headerfooter;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-height: 550px;
  transition: all 0.2s;
  width: 19rem;

  &:hover {
    box-shadow: 6px 6px 6px 6px $colour-blue;
  }

  &__image {
    height: 180px;
    margin: 0;
    width: 250;
  }

  .btn-submit {
		background-color: $colour-primary;
		font-family: $font-navlink;
		font-size: 22px;
    border-radius: 0;
    color: $colour-secondary;

    &:hover {
      background-color: $colour-blue;
      color: $colour-secondary;
    }
  }
}
