.form {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
  margin-top: 7rem;

  @media (max-width: 576px) {
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 10px;
    width: auto;
  }

  .contactform {
    background-color: $colour-secondary;
    display: inline-block;
    padding: 25px;
    width: 500px;

    .btn-send {
      background-color: $colour-primary;
      border-radius: 0;
      color: $colour-secondary;
      margin-top: 35px;
      width: 100%;
        
      &:hover {
        background-color: $colour-blue;
        color: $colour-secondary;
      }
    }

  }

}

.error {
  color: red;
}






