.footer {
  background-color: $colour-headerfooter;
  color: $colour-secondary;
	
  @media (max-width: 576px) {
    text-align: center;
  }

  .footer__container {
    margin-top: 1rem;
    padding-top: 10px;
		
    @media (max-width: 576px) {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    
  }

  .footer__link--item {
    color: $colour-secondary;
    padding: 10px;
  }

}



