body {
  background: $colour-background;
  margin: 0%;
  overflow-x: hidden;
  padding: 0%;
}

.nav {
	background: $colour-headerfooter;
	
  .navbar-toggler-icon {
    color: $colour-secondary;
  }

  .logo {
    margin-right: 3rem;
  }

  .nav__link {
    border-radius: 5px;
    color: $colour-secondary !important;
    font-family: $font-navlink;
    font-size: 28px;
    margin-right: 30px;
    margin-top: 2rem;
    padding: 1rem;
    transition: all 0.4s;

    :hover {
      text-decoration: underline $colour-blue;
    }
    
  }

}





